.index-text p {
  text-align: center;
  color: gray;
}

.index-card-game {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #FF7130;
  border-radius: 8px;

   img {
    height: 100%;
    width: 90px;
    min-height: -webkit-fill-available;
    max-height: 90px;
    min-width: 90px;
    max-width: 90px;
    object-fit: cover;
  }

   h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color:#FF7130;
   }

   p {
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 4px;
   }

   .index-card-game-infos {
    padding: 12px;
    color: gray;
   }
}

.index-links:hover {
  text-decoration: none;
}
