.log-in-bloc {
  background-color: #F4F0EB;
  border: 1px solid #F4F0EB;
  border-radius: 5px;
  padding: 27px;
  margin: 16px;
}

.main-log-text {
  font-size: 27px;
  margin: 20px 0px;
}

.btn-success {
  border: 1px solid #FF7334;
  background: #FF7334;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin-bottom: 27px;
}

.btn-success:focus {
    color: #FF7130;
    background-color: #FFF1E8;
    border-color: #FFF1E8;
    outline: none;
}
.btn-success:focus, .btn-success.focus {
  color: #FF7130;
  background-color: #FFF1E8;
  border-color: #FFF1E8;
  outline: none;
}

.btn-success:hover {
  color: #FF7130;
  background-color: #FFF1E8;
  border-color: #FFF1E8;
  text-decoration: none;
}
