#back-arrow {
  color: #FFFFFF;
  font-size: 15px;
  width: 100%;
  text-align: center;
  padding: 16px;

}

.show-banner {
  background-size: contain;
  position: relative;
}

.show-banner-img {
  background-size: cover;
  width: 100%;
  height: 200px;
}

.h1-show {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  width: 95%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top : 60px;
  color: white;

}

.show-header {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 30px;
  height: 30px;
}

.show-card-game {
  // overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  // box-shadow: 0 0 15px rgba(244,240,235,1);
  // display: flex;
  align-items: center;
  margin-top: 16px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  position: relative;
  margin: -65px auto;

   img {
    height: 100%;
    width: 100px;
    object-fit: cover;
    border-radius: 16px;
   }

   h4 {
    font-size: 16px;
    color: #FF7130;
    margin-top: 8px;
    margin-bottom: 8px;
   }

   p {
    font-size: 11px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 4px;
   }

   .show-card-game-infos {
    padding: 12px;
    color: gray;
    text-align: center;
   }
}


.show-game-title {
  text-align: center;
  padding-bottom: 8px;
}
.rating-block {
  display: flex;
  justify-content: space-around;
  p {
    text-align: center;
    color: black;
    span {
      font-weight: bold;
      color: grey;
    }
  }
}

.vertical-line {
  border-left: 1px solid lightgrey;
  display: inline-block;
  height: 68px;
  margin: 0px;
}

.esrb-rating {
  // border-right: 1px solid grey;
  padding: 3px;
}

.parents-rating {
  // border-right: 1px solid grey;
  padding: 3px;
}
.game-aware-rating {
  padding: 3px;
}

.kid-line {
  border-radius: 9px;
  padding: 4px;
  height: 28px;
  margin-bottom: 5px;
  margin-top: 5px;
    // p {
    // display: flex;
    // justify-content: space-between;
    // padding: 0 16px;
    // }
}

.redbg {
  background-color: rgb(253, 239, 240);
  color: #ed6a6a;
  font-weight: normal;
  font-size: 14px;
  margin: 8px auto;
}
.greenbg {
  background-color: rgb(241, 251, 245);
  color: #6fcf97;
  font-weight: normal;
  font-size: 14px;
  margin: 8px auto;
}
.orangebg {
  background-color: rgb(254, 245, 237);
  color: #F29A4B;
  font-weight: normal;
  font-size: 14px;
  margin: 8px auto;
}

.rating-category {
  display: flex;
  justify-content: space-between;
}

.show-infos-game-summary {
  font-size: 12px;
  background: #FFFFFF;

  p {
    color: gray;
    font-size: 12px;
    font-weight: lighter;
  }
}

.show-infos {
  font-size: 12px;
  background: #F6F6F6;

  p {
    color: gray;
    font-size: 12px;
    font-weight: lighter;
  }

  summary {
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
  }


  h3 {
    font-size: 16px;
  }
}

details > summary::-webkit-details-marker {
  display: none;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  width: 0.45em;
  color: gray;
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}


#game-img {
  padding-left: 8px;
}

h5 {
  color: #FF7130;
  font-weight: lighter;
  font-size: 14px;
}

.modal-button {
  border: none;
  background: none;
  color: #FF7130;
}
