.kid-line {
  border-radius: 9px;
  padding: 4px;
  height: 28px;
  margin-bottom: 5px;
  margin-top: 5px;
    p {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    }
}
.redbg {
  background-color: rgb(253, 239, 240);
}
.greenbg {
  background-color: rgb(241, 251, 245);
}
.orangebg {
  background-color: rgb(255, 255, 255);
}

.show-game-title {
  text-align: center;
  padding-bottom: 8px;
}
.rating-block {
  display: flex;
  justify-content: space-evenly;
  p {
    text-align: center;
    span {
      font-weight: bold;
      color: black;
    }
  }
}
.esrb-rating {
  // border-right: 1px solid grey;
  padding: 3px;
}
.parents-rating {
  // border-right: 1px solid grey;
  padding: 3px;
}
.game-aware-rating {
  padding: 3px;
}

#back-arrow {
  color: #FFFFFF;
  font-size: 15px;
  width: 100%;
  text-align: center;
  padding: 16px;

}

.rating-category {
  display: flex;
  justify-content: space-between;
}

.show-header {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 30px;
  height: 30px;
}


.h1-show {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  width: 95%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top : 60px;
  color: white;

}
.show-banner {
  background-size: contain;
  position: relative;
}

.show-banner-img {
  background-size: cover;
  height: 190px;
  width: 100%;
}

.show-card-game {
  // overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  // box-shadow: 0 0 15px rgba(244,240,235,1);
  // display: flex;
  align-items: center;
  margin-top: 16px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  position: relative;
  margin: -65px auto;

   img {
    height: 100%;
    width: 100px;
    object-fit: cover;
    border-radius: 16px;
   }

   h4 {
    font-size: 14px;
    margin: 0;
    color: #FF7130;
    margin: 10px auto;
   }

   p {
    font-size: 11px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 4px;
   }

   .show-card-game-infos {
    padding: 6px;
    color: gray;
    text-align: center;
   }
}

.show-infos {
  font-size: 14px;

  p {
    color: gray;
  }

  summary {
  font-size: 16px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 16px;
  }
}

#game-img {
  padding-left: 8px;
}

.modal-button {
  border: none;
  background: none;
  color: lightgrey;
}


