.kid-line {
  border-radius: 9px;
  padding: 4px;
  height: 28px;
  margin-bottom: 5px;
  margin-top: 5px;
    p {
      span {
      }

    }
}
.redbg {
  background-color: rgb(255, 96, 96);
}
.greenbg {
  background-color: green;
}
.orangebg {
  background-color: orange;
}
