<div class="container">
  <h1>This is the dashboard</h1>

  <% user.kids.each do %>
    <%= user.kid.name %>
    <%= user.kid.birthdate - Date.now %>
    <%= link_to("🖌 edit kid", edit_user_kid_path) %>
  <% end %>
  <%= link_to("+ Add a kid", new_user_kid_path) %>
</div>
