<div class="banner">
  <div class="banner-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com//U4Mpfqrt-_k/1900x900);">
    <%= image_tag "gameaware.png", class: "gameawarelogo" %>
  </div>
</div>
<div class="container">
  <div class="search-homepage">
    <%= simple_form_for :search, url: games_path, method: :get do |f| %>
      <div class="search-form-control form-group rounded">
        <%= f.input :query, class:"form-control string required", id:"search_query", label: false %>
        <%= f.submit "Search", class:"btn btn-search" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="main-text">
    <h6>Latest Articles:</h6>
  </div>
</div>
<div class="cards">
  <a href="https://niveaux.org/" target="_blank" class="card-links">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/RZamNjYMjU0/)">
      <h6><em>"Video games sheet"</em>
        <br><p>Niveaux</p></h6>
    </div>
  </a>

  <a href="https://www.gamesindustry.biz/articles/2020-12-18-china-introduces-new-age-rating-system" target="_blank" class="card-links">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/MxVkWPiJALs/)">
      <h6><em>"New age rating system"</em>
        <br><p>GamesIndustry</p></h6>
    </div>
  </a>

  <a href="https://www.gamesindustry.biz/articles/game-rating-board-decision-korean-indie-developers-protest-against-decision-to-ban-all-unrated-games" target="_blank" class="card-links">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/bUgaIaZysH0/)">
      <h6><em>"Game Rating Board decision"</em>
        <br><p>GamesIndustry</p></h6>
    </div>
  </a>

  <a href="https://do-i-play-too-much-videogames.com/survey/wznn9s7zcy7r/8yr8wul6lop4" target="_blank" class="card-links">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/jjWlueaeac8/)">
      <h6><em>"Do I play video games too much?"</em>`
        <br><p>VideoGames</p></h6>
    </div>
  </a>
</div>
