.alert {
  position: fixed;
  bottom: 72px;
  right: 1px;
  z-index: 1000;
  font-size: 15px;
  padding: 10px;
  padding-left: 15px;
}

.alert-dismissible {
  padding-right: 1rem;
}

.alert-dismissible .close {
padding: 0;
display: none;
}


